{{ $newYear := sub .Site.Params.year 1 }}

{{ $yrs := slice }}
  {{ range .Site.Data.Masterlist }}
    {{ range where .contents ".Year" ">=" $newYear }}
      {{ $yrs = $yrs | append .Year }}
    {{ end }}
  {{ end }}
{{ $yrs = uniq $yrs }}

{{ range sort $yrs "value" "desc" }} <!-- latest > year > month -->
    {{ $year := . }}
    <h4 style="margin-bottom: 0px;"> {{ $year }} </h4>

      {{ $months := slice }}
        {{ range $.Site.Data.Masterlist }}
            {{ range sort (where (where .contents "Year" ">=" $newYear)  "Year" $year) "Date" "desc" }}
            {{ $months = $months | append .Month }}
            {{ end }}
        {{ end }}
      {{ $months = uniq $months }}

      {{ range $months }}
        {{ $month := . }} <br>

        {{ range $.Site.Data.Masterlist }}
          {{ range sort (where (where (where .contents "Year" ">=" $newYear) "Year" $year) "Month" $month) "Date" "desc" }}
          <div class="link-list">
            <ul>
              {{ dateFormat "Jan 02" .Date }} <span id="catlink"><a href="{{ .CatLink }}">[{{ .Category }}]</a></span>
              {{ range .Links }}
              ★ <a target="_blank" href="{{ .Link }}">{{ .Name }}</a>
              {{ end }} <!-- range .Links -->
            </ul>
          </div>
          {{ end }}
        {{ end }}
      {{ end }} <br>
{{ end }} <!-- latest > year > month -->
